{
    "env": {
        "node": true,
        "es2021": true,
        "browser": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
    "ignorePatterns": ["dist/", "node_modules/", ".yarn/"],
    "overrides": [{ "files": ["**/*.mjs", "**/*.jsx"] }],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2021,
        "sourceType": "module"
    },
    "plugins": ["react", "react-hooks"],
    "root": true,
    "rules": {
        "no-control-regex": "off",
        "react/prop-types": 0,
        "react/react-in-jsx-scope": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
