{
    "jsc": {
        "minify": {
            "compress": {
                "arguments": true,
                "dead_code": true,
                // "keep_classnames": true,
                "reduce_funcs": true,
                "reduce_vars": true
            },
            "mangle": true
        },
        "parser": {
            "jsx": true,
            "syntax": "ecmascript"
        },
        "target": "es2021"
    },
    "minify": true
}
